

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/chainIndex"><i class="icon-bag"></i> Chains</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#!/companyIndex"><i class="icon-bag"></i> Companies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/shop"><i class="icon-basket-loaded"></i> Shops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <svg>
                        <use xlink:href="img/bfn-icons.svg#users"></use>
                    </svg> Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i class="icon-docs"></i> Reports
                </a>
            </li>
        </ul>
    </nav>
</div>
