<div class="remodal" data-remodal-id="view-oh" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="remodal-header">
        <div class="card-block">
            <h4>
                Summer Template
                <small class="text-muted">[Active]</small>
            </h4>
        </div>
    </div>
    <div class="remodal-content">
        <!-- Opening hours Tab -->
        <div class="card-block">
            <div class="col-sm-12 nopadding">
                <div class="form-group">
                    <label>Description</label>
                    <h4>Template for Summer time working hours.</h4>
                </div>
            </div>
            <div class="col-sm-6 nopadding">
                <div class="form-group">
                    <label for="season-start">Seasonal schedule starts from</label>
                    <h4>24 June</h4>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="form-group">
                    <label for="season-end">Seasonal schedule ends at</label>
                    <h4>09 August</h4>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-addon">Day</span>
                    <input type="text" id="oh-monday" name="input3-group1" class="form-control" placeholder="Opening Hour" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="text" id="ch-monday" name="input3-group1" class="form-control" placeholder="Closing Hour" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Mon</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Tue</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Wed</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Thu</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fri</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Sat</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="09:00:00" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="18:00:00" disabled>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Sun</span>
                    <input type="time" id="oh-monday" name="input3-group1" class="form-control" value="-" disabled>
                    <span class="input-group-addon">:</span>
                    <input type="time" id="ch-monday" name="input3-group1" class="form-control" value="-" disabled>
                </div>
            </div>
        </div>
        <!-- Opening Hours Tab ends -->
    </div>
</div>