
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">
        <a href="/Home/chainIndex">Chains</a>
    </li>
    <li class="breadcrumb-item active">Edit Chain</li>
</ol>
<div class="container">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <!-- Wizard tabs start -->
                <ul class="nav nav-tabs" role="tablist" style="display:none;">
                    <li class="nav-item active">
                        <a class="nav-link " id="chain-info-tab" data-toggle="tab" data-target="#company" role="tab" aria-controls="company">Chain information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="admin-tab" data-toggle="tab" data-target="#admin" role="tab" aria-controls="admin">Chain admins</a>  <!--style="pointer-events:none;" fill-->
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="company" role="tabpanel">
                        <!-- Company Setup Tab -->
                        <form name="companyform" ng-submit="saveChain()"> <!--ng-controller="ChainEditCtrl"-->
                            <div class="col-sm-12 nopadding">
                                  <div class="card">
                                            <div class="card-header">
                                                <strong><i class="icon-bag"></i> Edit Chain</strong>
                                            </div>
                                            <div class="card-block col-sm-6">
                                                <div class="form-group">
                                                    <label for="cvr">CVR Number</label>
                                                    <div class="input-group">
                                                        <input type="number" id="cvr" ng-model="editChain.CompanyCVR" placeholder="Enter CVR number to verify" class="form-control" required>
                                                        <button type="button" class="btn btn-sm btn-primary" ng-click="verifyChainCVR()">Verify CVR nr.</button>
                                                    </div>
                                                    <small ng-show="isCVRError" class="form-text text-muted text-danger">The CVR number is not correct. Please try again!</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="chain-name">Chain Name</label>
                                                    <input type="text" class="form-control" ng-model="editChain.CompanyName" id="company-name" id="chain-name" placeholder="Enter Chain Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="chain-address">Address</label>
                                                    <input type="text" ng-model="editChain.CompanyAddress" class="form-control" id="chain-address" placeholder="Enter full address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="chain-address-2">Address 2</label>
                                                    <span class="badge badge-default badge-pill float-right">Optional</span>
                                                    <input type="text" class="form-control" id="chain-address-2" placeholder="Enter address details" ng-model="editChain.CompanyAddress2">
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col">
                                                        <label for="chain-postal">Postal code</label>
                                                        <input type="text" class="form-control" id="chain-postal" placeholder="Enter postal code" ng-model="editChain.CompanyPostCode" required> 
                                                    </div>
                                                    <div class="form-group col">
                                                        <label for="chain-city">City</label>
                                                        <input type="text" class="form-control" id="chain-city" placeholder="Enter city" ng-model="editChain.CompanyCityName" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="bank-account-nr">Bank Account Nr.</label>
                                                    <span class="badge badge-default badge-pill float-right">Optional</span>
                                                    <input type="number" id="bank-account-nr" ng-model="editChain.CompanyBankAccountNo" placeholder="Enter account number" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label for="chain-email-address">Owner</label>
                                                    <input type="text" class="form-control" id="chain-owner" ng-model="editChain.OwnerName" placeholder="Enter chain owner name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="chain-email-address">Email Address</label>
                                                    <span class="badge badge-default badge-pill float-right">Optional</span>
                                                    <input type="email" ng-model="editChain.CompanyEmail" class="form-control" id="chain-email-address" placeholder="Enter email address for invoicing">
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
                                            </div>
                                    </div>
                            </div>
                            <!-- Company Setup Tab ends -->
                        </form>
                    </div>
                    <div class="tab-pane" id="admin" role="tabpanel">
                        <div class="col-sm-12 nopadding">
                            <div class="card">
                                <div class="card-block">
                                    <button type="button" class="btn btn-outline-primary mb-2 float-right" data-toggle="modal" data-target="#addChainAdmin"><i class="icon-plus"></i> Add chain admin</button>
                                    <button type="button" id="edit-admin" class="btn btn-outline-primary mb-2 float-right" data-toggle="modal" data-target="#editChainAdmin" style="display:none"><i class="icon-plus"></i> Edit chain admin</button>
                                    <button type="button" id="view-admin" class="btn btn-outline-primary mb-2 float-right" data-toggle="modal" data-target="#viewChainAdmin" style="display:none"><i class="icon-plus"></i> View chain admin</button>

                                    <table class="table table-bordered table-striped" data-toggle="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Contact No.</th>
                                                <th>Email</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="user in CompanyUsers" ng-class="{ 'disabled' : user.IsActive == false }">
                                                <td>{{user.Name}} </td>
                                                <td>{{user.Address}}</td>
                                                <td>{{user.PhoneNumber}}</td>
                                                <td>{{user.Email}}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <i class="icon-options-vertical" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" data-target="" ng-click="viewChainAdmin(user.Id)">View user info</a>
                                                            <a class="dropdown-item" data-target="" ng-click="editChainAdmin(user.Id)">Edit user info</a>
                                                            <a class="dropdown-item" ng-show="user.IsActive" href="" ng-click="deleteUserConfirmation(user.Id)" data-toggle="modal" data-target="#validate">Deactivate user</a>
                                                            <a class="dropdown-item" ng-show="!user.IsActive" href="" ng-click="activateUserConfirmation(user.Id)" data-toggle="modal" data-target="#activeDialog">Activate user</a>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Prev</a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-sm btn-primary float-right" href="/Home/viewChain/{{editChain.Id}}">Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Wizard tabs ends -->
            </div>
        </div>
    </div>
</div>
<!-- /.conainer -->
<!-- Add/Edit Modal start -->
<user-add></user-add>
<user-view></user-view>
<user-edit></user-edit>

<deactive></deactive>
<active></active>