

<div class="app header-fixed sidebar-fixed" ng-controller="rootCtrl">
    <header class="app-header navbar" ng-show="islogin">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
        <a class="navbar-brand" href=""></a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                </a>
                <ul class="dropdown-menu dropdown-menu-right notification-menu">
                    <li class="dropdown-item">
                        <a href="notifications.html">Netto Rådhuspladsen requests attachment to Netto A/S</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="notifications.html">Kvickly Nexø added to Kvickly</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="notifications.html">View all</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item pl-2 pr-4 dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="d-md-down-none">{{user}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" ng-click="logout()" href="">
                        <i class="icon-logout"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </header>

    <div class="app-body" ng-click="getClass()">
        <div class="sidebar" ng-show="islogin">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item" id="customerLink">
                        <a class="nav-link" href="/Home/CustomerIndex"><i class="icon-briefcase"></i> Customers</a>
                    </li>
                    <li class="nav-item" id="commiteLink">
                        <a class="nav-link" href="/Home/CommiteIndex"><i class="icon-briefcase"></i> Commites</a>
                    </li>
                    <li class="nav-item" id="paymentLink">
                        <a class="nav-link" href="/Home/PaymentIndex"><i class="icon-briefcase"></i> Payments</a>
                    </li>
                    <li class="nav-item" id="reportLink">
                        <a class="nav-link" href="/Home/ReportIndex"><i class="icon-briefcase"></i> Reports</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="main">

            <div ui-view>

            </div>

        </div>
    </div>



</div>






<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('.sidebar-nav .nav').find('.active').removeClass('active');
        $('.sidebar-nav .nav li a').each(function () {
            if (this.href == url) {
                $(this).parent().addClass('active');
            }
        });
        $('.nav-item a').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active')
        })
    });

</script>